:root {
    --red: #ff1a1a;
}

* {
    font-family: "Space Grotesk", sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all 0.3s cubic-bezier(0.16, 0.8, 0.62, 1.52);
    text-transform: capitalize;
    font-weight: normal;
}

*::selection {
    background: var(--red);
    color: aliceblue;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 1.3rem;
}

html::-webkit-scrollbar-track {
    background: #000;
}

html::-webkit-scrollbar-thumb {
    background: var(--red);
}

header {
    position: fixed;
    top: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 93%;
    z-index: 1000;
    background: #000;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3rem;
    border-radius: 0.5rem;
}

header .logo {
    color: grey;
    font-size: 2.5rem;
}

header .logo span {
    color: var(--red);
}

header .navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

header .navbar ul li {
    margin-left: 3rem;
}

header .navbar ul li a {
    margin-left: 2rem;
    color: grey;
}

header .navbar ul li a.active,
header .navbar ul li a:hover {
    color: var(--red);
}

#menu {
    font-size: 3rem;
    color: #666;
    cursor: pointer;
    display: none;
}

@media (max-width: 991px) {
    html {
        font-size: 50%;
    }
}


/*------------------------Responsive------------------------*/

@media (max-width: 768px) {
    #menu {
        display: block;
    }
    header .navbar {
        position: fixed;
        top: 110%;
        left: 0%;
        background: #444;
        width: 100%;
        border-radius: 0.5rem;
        box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1);
        transform: scaleY(0);
        transform-origin: top;
        opacity: 0;
    }
    header .navbar ul {
        flex-flow: column;
        padding: 2rem;
    }
    header .navbar ul li {
        margin: 1rem 0;
        width: 100%;
    }
    header .navbar ul li a {
        display: block;
        font-size: 2.5rem;
        border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
        padding: 1.5rem 0;
    }
    .fa-times {
        transform: rotate(180deg);
    }
    header .navbar.nav-toggle {
        transform: scaleY(1);
        opacity: 1;
    }
}


/*---------------------------Home Page---------------------*/

.btn_biru {
    display: inline-block;
    padding: 0.7rem 4rem;
    font-size: 2rem;
    color: #fff;
    background: var(--red);
    padding-top: 1rem;
    margin-top: 1rem;
}

.btn_movie {
    display: inline-block;
    padding: 0.7rem 4rem;
    font-size: 2rem;
    color: #fff;
    background: var(--red);
    padding-top: 1rem;
    margin-top: 1rem;
}

.btn {
    display: inline-block;
    padding: 0.7rem 4rem;
    font-size: 2rem;
    color: #fff;
    background: var(--red);
    padding-top: 1rem;
    margin-top: 1rem;
}

.btn:hover {
    transform: scale(1.02);
}

section {
    min-height: 100vh;
    padding: 0 7%;
    padding-top: 11rem;
}

.home {
    display: block;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images/gif1.gif) no-repeat;
    background-position: center;
    background-size: 70%;
    color: #fff;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.home .image {
    flex: 1 1 40rem;
}

.home .image img {
    flex: 1 1 40rem;
    width: 50%;
}

.home .content {
    flex: 1 1 40rem;
    padding: 20rem 0;
    text-align: center;
}

.home .content h3 {
    color: var(--red);
    font-size: 3rem;
    padding-bottom: 1rem;
}

.home .content h1 {
    color: #fff;
    font-size: 4rem;
}

.home .content p {
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}


/*----------------------Gallery---------------*/

.heading {
    text-align: center;
    color: var(--red);
    text-transform: uppercase;
    font-size: 4rem;
}

.heading span {
    color: #666;
}

.gallery {
    background: #f0f0f0;
}

.gallery .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery .box-container .box {
    flex: 1 1 30rem;
    height: 40rem;
    overflow: hidden;
    background: #333;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
    border-radius: 0.5rem;
    position: relative;
}

.gallery .box-container .box img {
    height: 87%;
    padding-top: 20px;
    object-fit: cover;
}

.gallery .box-container .box .info {
    position: absolute;
    bottom: -120%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    background: #fff;
    padding: 2rem;
    border: 0.3rem solid var(--red);
    border-radius: 0.5rem;
}

.gallery .box-container .box:hover .info {
    bottom: 2rem;
}

.gallery .box-container .box:hover {
    background: #a5b1c2;
}

.gallery .box-container .box:hover .info img {
    transform: scale(1.2);
}

.gallery .box-container .box .info h3 {
    background: var(--red);
    color: #fff;
    border-radius: 0.5rem;
    margin: 0 5rem;
    margin-top: -3.7rem;
    font-size: 2.5rem;
}

.gallery .box-container .box .info p {
    font-size: 2rem;
    color: #666;
    padding: 0.5rem;
    padding-top: 2rem;
}

@media (max-width: 400px) {
    html {
        font-size: 50%;
    }
    section {
        padding-top: 0 3%;
        padding-top: 11rem;
    }
    .about .row .image img {
        height: auto;
        width: 100%;
    }
}


/*-----------------------About-------------------*/

.about {
    background: #eee;
    padding-bottom: 3rem;
}

.about .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.about .row .image {
    flex: 1 1 40rem;
    padding: 2rem 0;
    text-align: center;
}

.about .row .image img {
    height: 50rem;
}

.about .row .content {
    flex: 1 1 40rem;
}

.about .row .content h3 {
    font-size: 5.5rem;
    color: #333;
}

.about .row .content p {
    font-size: 2.2rem;
    color: #666;
    padding: 1rem 0;
}


/*-----------------------video------------------*/

.video-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: #666;
}

.video-container .video {
    height: 15rem;
    width: 25rem;
    margin: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.8);
    overflow: hidden;
    border-radius: 1rem;
}

.video-container .video video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    outline: none;
    border: none;
    cursor: pointer;
}

.video-container .video:hover video {
    transform: scale(1.1);
}


/*.video-container .video .active {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 80%;
  box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.video-container .video .active:hover {
  transition: none;
  transform: translate(-50%, -50%) scale(1);
}*/

.video-container .popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
    display: none;
}

.video-container .popup video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
    border-radius: 5px;
    border: 3px solid #ffff;
    object-fit: cover;
}

.video-container .popup span {
    position: absolute;
    top: 150px;
    right: 20px;
    font-size: 50px;
    color: #fff;
    font-weight: bolder;
    z-index: 100;
    cursor: pointer;
}

@media (max-width: 768px) {
    .video-container .popup video {
        width: 95%;
    }
}


/*------------------------Others-------------------*/

.heading {
    text-align: center;
    color: var(--red);
    text-transform: uppercase;
    font-size: 4rem;
}

.heading span {
    color: #666;
}

.others {
    background: #f0f0f0;
}

.gallery .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.others .box-container .box {
    flex: 1 1 30rem;
    height: 40rem;
    overflow: hidden;
    background: #dcdde1;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
    border-radius: 0.5rem;
    position: relative;
}

.others .box-container .box img {
    height: 87%;
    padding-top: 20px;
    object-fit: cover;
}

.others .box-container .box .info {
    position: absolute;
    bottom: -120%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    background: #fff;
    padding: 2rem;
    border: 0.3rem solid var(--red);
    border-radius: 0.5rem;
}

.others .box-container .box:hover .info {
    bottom: 2rem;
}

.others .box-container .box:hover {
    background: #111;
}

.others .box-container .box:hover .info img {
    transform: scale(1.2);
}

.others .box-container .box .info h3 {
    background: var(--red);
    color: #fff;
    border-radius: 0.5rem;
    margin: 0 5rem;
    margin-top: -3.7rem;
    font-size: 2.5rem;
}

.others .box-container .box .info p {
    font-size: 1.4rem;
    color: #666;
    padding: 0.5rem;
    padding-top: 2rem;
}


/*------------Footer------------*/

.footer {
    text-align: center;
    background: #222;
}

.footer .share {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem o;
}

.footer .share h4 {
    color: #fff;
}

.footer .share a {
    font-size: 2rem;
    padding: 1rem;
    color: #ccc;
}

.footer .share a:hover {
    color: #eee;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .credit {
    padding: 2rem 1rem;
    font-size: 2rem;
    color: #fff;
    background: #111;
}

.footer .credit a {
    color: var(--red);
}


/*-------------Scroll Top-----------*/

.scroll-top {
    position: fixed;
    bottom: 7.5rem;
    right: 2rem;
    z-index: 1000;
    display: none;
}

.scroll-top img {
    height: 7rem;
    filter: drop-shadow(0 0.3rem 0.5rem rgba(0, 0, 0, 0.2));
}


/*------------Movie-----------*/

.play-container {
    padding-left: 20%;
    padding-right: 5%;
    padding-top: 10%;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.play-video {
    flex-basis: 69%;
}

.play-video video {
    width: 100%;
}

.play-video .tags a {
    color: #0000ff;
    font-size: 13px;
}

.play-video h3 {
    font-weight: 600;
    font-size: 22px;
}

@media (max-width: 900px) {
    .play-video {
        flex-basis: 100%;
    }
    .play-container {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 50%;
    }
}